/* 全局 */
* { box-sizing: border-box; }
html, body { width: 100%; height: 100%; }
/* 全局修改样式 */
.btn-primary { background: linear-gradient(#6f97e5, #527ed9); box-shadow: inset 0 1px 2px #7ea1e8; color: #fff; text-shadow: #4f70b3 0 -1px 0; border: none; height: 46px;
  &:active, &:focus, &:hover { box-shadow: inset 0 1px 1px #5378d2, inset 0 0 2px #627dca, inset 0 0 100px rgba(25, 108, 232, .5); }
  &.is-disabled { cursor: not-allowed; opacity: .4; pointer-events: none; background: linear-gradient(#6383c6, #4262af); text-shadow: rgba(255, 255, 255, .496094) 0 1px 0; color: #fff; }
}
/* 提示框 */
  .tips { width: 100%; border-radius: 0px; top: 0; height: 50px;padding:0;    display: flex;
    justify-content: center;
    .el-message__img { width: 50px; height: 50px;    position: initial;}
    .el-message__group{margin:0;height:50px;line-height:50px;p{color:#fff;}}
  }
  .tips-error{background:#ff4949;}
  .tips-sucess{background:#13ce66;}

/* 首页 */
#app { font-family: 'Avenir', Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-align: center; color: #2c3e50; width: 100%; height: 100%;
  .head { height: 50px; background-color: rgba(0, 0, 0, .8); width: 100%;    position: relative;
    .nav-logo { width: 50px; height: 50px; margin: 0 auto; }
  }
  .content { height: 100%; width: 100%;background: url('../../assets/img/login_bg.png'); background-size: 100px;display: flex;
    justify-content: center;
    align-items: center;
    .loading { height: 100%; position: absolute; width: 100%; display: flex; justify-content: center; align-items: center; background: rgba(255, 255, 255, 1); z-index: 2; }
  }
  .foot { position: fixed; bottom: 0; width: 100%; z-index: 3; }
  .foot-nav-item { color: #212121; width: 100%;
    .foot-icon { width: 32px; height: 32px; display: block; margin: 0 auto; }
    .foot-home { background: url(../../assets/img/home-1.svg); }
    .foot-mission { background: url(../../assets/img/mis-1.svg); }
    .foot-ele { background: url(../../assets/img/more-1.svg); }
    .foot-user { background: url(../../assets/img/user-1.svg); }
    a { text-decoration: none; display: block; width: 100%; height: 100%; padding: 5px 0; }
    p { margin: 0; line-height: 25px; font-size: 12px; }
  }
  .is-active { color: #1296db;
    .foot-home { background: url(../../assets/img/home-2.svg); }
    .foot-mission { background: url(../../assets/img/mis-2.svg); }
    .foot-ele { background: url(../../assets/img/more-2.svg); }
    .foot-user { background: url(../../assets/img/user-2.svg); }
  }
  .el-menu-nav { border-top: 1px solid #e6e6e6; background: #F9FAFC; }
  .el-menu-item { border-bottom: none; }
}

/* 更多 */
.more { }

/* 登录 */
#login { display: flex; justify-content: center; align-items: center;width:100%;
  .modal-pf{
    width:100%;
  }
  h4{
    font-weight:700;
    color:#666;
  }
  img { width: 80px; height: 80px; padding: 5px; background-color: rgba(0, 0, 0, .8); border-radius: 50%; }
  .loginForm { width: 90%; margin: 0 auto;
    .el-input__inner { height: 48px; line-height: 48px; }
    .el-input-group__prepend { padding: 0; }
    .login-user { width: 46px; height: 46px; display: block; background: url(../../assets/img/user.svg)no-repeat center center; background-size: 50%; }
    .login-password { width: 46px; height: 46px; display: block; background: url(../../assets/img/password.svg)no-repeat center center; background-size: 80%; }
  }
  .registForm { width: 90%; margin: 0 auto;
    .el-input__inner { height: 48px; line-height: 48px; }
    .el-input-group__prepend { padding: 0; }
    .regist-user { width: 46px; height: 46px; display: block; background: url(../../assets/img/user.svg)no-repeat center center; background-size: 50%; }
    .regist-password { width: 46px; height: 46px; display: block; background: url(../../assets/img/password.svg)no-repeat center center; background-size: 80%; }
    .regist-email { width: 46px; height: 46px; display: block; background: url(../../assets/img/email.svg)no-repeat center center; }
    .el-form-item { margin: 20px; }
    .el-form-item__content { text-align: left;
      .el-radio__label { font-size: 12px; }
    }
  }
  .btn-primary { width: 100%; font-size: 18px; }
  .el-checkbox__label { font-size: 12px; color: #7f7f7f;
    i { color: #5079d9; font-style: normal; }
  }
  .modal-foot { a { text-decoration: none; color: #7f7f7f; font-size: 13px; }
    p { padding-top: 23px; margin: 0; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset; border-top: 1px solid #d9d9d9;
      i { color: #5079d9; font-style: normal; }
    }
  }

}

/* 动画效果 */
.fade-enter { opacity: 0.7 }
.fade-leave-active { opacity: 0 }
.fade-leave-active { transition: all .3s ease; }
.fade-enter-active { transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0); }

























/* 电脑端 */
@media (min-width:992px){
  .modal-pf{width: 450px;}
}